@-webkit-keyframes flash {
  from { opacity: 0.75; }
  to { opacity: 0; }
}
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: -webkit-radial-gradient(center, ellipse cover, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 26%,rgba(40,52,59,1) 100%);
}
h1 {
  color: #fff;
  text-shadow: 0 0 8px #101011;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
  margin-bottom: 15px;
}


.container {
  width: 610px;
  margin: 10px auto;
}
.c-preset {
  position: relative;
}
.c-pad {
  margin: 0 auto;
}
.pad {
  width: 110px;
  height: 90px;
  float: left;
  background: #fff;
  margin: 5px;
  border: 1px solid #313131;
  box-shadow: 0 0 8px #474747;
  border-radius: 10px;
  position: relative;
}
.pad-highlight {
  background: rgba(178, 227, 253, 0.89);
  border: 1px solid #1A1A1A;
}
.pad-midilisten {
  background: rgba(253, 178, 178, 0.89);
  border: 1px solid #1A1A1A;
}
.pad-overlay {
  opacity: 0;
  background-color: #aa0;
  width: 110px;
  height: 90px;
  border-radius: 10px;
}
.pad-label {
  position: absolute;
  bottom: 10px;
  right: 13px;
  font-style: italic;
  color: #EEEEEE;
  text-shadow: -1px -1px 1px #808080;
  font-size: 17px;
  pointer-events: none;
}
.flash {
  -webkit-animation: flash 0.15s;
}
.c-indicator {
  width: 103px;
  background: rgba(224, 161, 47, 0.87);
  height: 4px;
  position: relative;
  top: -41px;
  left: 236px;
}
.b-import {
  position: absolute;
  top: 51px;
  left: 439px;
  width: 68px;
  opacity: 0.0;
  background-color: #fff;
  z-index: 10;
  line-height: 31px;
  margin: 0;
  padding: 0;
}
.b-export {
  display: block;
  position: absolute;
  top: 51px;
  left: 521px;
  width: 68px;
  opacity: 0;
  background-color: #f00;
  z-index: 10;
  height: 30px;
}
.b-export-dummy {
  padding: 0;
  margin: 0;
  width: 68px;
  line-height: 30px;
  height: 30px;
}