.quick-loader {
  position: relative;
  font-family: "DroidSansMono", monospace;
  width: 220px;
  background-color: #fff;
  border-radius: 5px;
  margin: 10px 5px;
}

.quick-loader-filename {
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  padding: 0 0 0 5px;
}

.arrows-right {
  position: absolute;
  right: 3px;
  top: 3px;
}

.quick-loader-arrow {
  -webkit-appearance: none;
  display: inline-block;
  font-size: 9px;
  line-height: 9px;
  width: 38px;
  height: 24px;
  background-color: #AEC1C7;
  border: 0;
  margin-left: 3px;
  border-radius: 4px;
}