/*
@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: url('fonts/Roboto-Light.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('fonts/Roboto-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url('fonts/Roboto-Bold.woff') format('woff');
}
*/

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
}

#header {
  background: #E0E0E0;
  padding: 40px 20px 10px;
  border-bottom: 4px solid #F7F7F7;
}

#header h1 {
  font-weight: 300;
  font-size: 30px;
  line-height: 34px;
  letter-spacing: 5px;
  text-shadow: #AAA 1px 1px 2px;
}

#content h1 {
  font-size: 30px;
  margin: 15px 0;
}

#content h2 {
  font-size: 26px;
  font-weight: 400;
  border: none;
  margin: 60px 0 25px 0;
  padding-bottom: 0;
  color: #7C7C7C;
}

#content h3 {
  font-size: 18px;
  font-weight: 400;
  border: none;
  margin: 25px 0 10px 0;
  padding-bottom: 0;
  letter-spacing: 1px;
  color: #A3A3A3;
}

#content h4 {
  background-color: #EEE;
  padding: 3px;
  margin-top: 20px;
}

#content {
  border-left: none;
}

#content p {
}

#content small {
  font-size: 13px;
}

#content code {
  font-size: 14px;
  font-family: "Droid Sans Mono Slashed";
}

#sidebar {
  border: none;
  padding: 25px 30px 15px;
  width: 180px;
}

#sidebar #toc > ol > li {
  font-size: 16px;
  margin: 15px 0;
  font-weight: normal;
  line-height: 22px;
}

#sidebar input#search {
  border-radius: 6px;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 4px 4px;
  width: 170px;
}