@-webkit-keyframes flash {
  from { opacity: 0.5; }
  to { opacity: 0; }
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
  margin-bottom: 15px;
}

.container {
  width: 610px;
  margin: 100px auto;
}
.c-pad {
  margin: 0 auto;
}
.pad {
  width: 110px;
  height: 90px;
  float: left;
  background: #fff;
  margin: 5px;
  border: 1px solid #999;
  box-shadow: 0 0 6px #bbb;
  border-radius: 5px;
}
.pad-highlight {
  background: rgba(49, 150, 204, 0.2);
}
.pad-overlay {
  opacity: 0;
  background-color:  #ff0;
  width: 110px;
  height: 90px;
}
.flash {
  -webkit-animation: flash 0.15s;
}