/* ----- header ----- */
@import url(http://fonts.googleapis.com/css?family=Roboto:400);


/* ----- demo style base ----- */
html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
  background-color: #6B6B6B;
  -webkit-user-select: none;
}

.c-body-wrapper {
  margin: 100px auto;
  padding: 0 10px;
  width: 908px;
}

.c-grid-container {
  padding: 10px;
  border-radius: 5px;
  background-color: #969696;
  box-shadow: inset 0 0 10px #4B4B4B, 1px 1px 2px #B4B4B4, -1px -1px 2px #333;
}

.c-grid {

}

.c-xport-panel {
  background-color: #E0E0E0;
  margin: 20px 0;
  border-radius: 2px;
  box-shadow: 0 0 6px #2C2C2C, inset 0 0 2px #fff;
}

.c-xport-control {
  display: inline-block;
}


/*
.c-rewind {
  background: url("glyphicons_170_step_backward.png") #FFF top 9px left 28px no-repeat;
}

.c-stop {
  background: url("glyphicons_175_stop.png") #FFF top 11px left 28px no-repeat;
}

.c-play {
  background: url("glyphicons_173_play.png") #FFF top 9px left 28px no-repeat;
}

.c-record {
  background: url("glyphicons_169_record.png") #FCC top 8px left 25px no-repeat;
}
*/