@import url(http://fonts.googleapis.com/css?family=Roboto:400);

/*
background-1: "#FFFEFC"
background-2: "#E2E3DF"
foreground-1: "#2E3233"
foreground-2: "#515B5E"
accent: "#CAF200";
 */

body {
  margin: 0;
  padding: 0;
  background: #FFFEFC;
  color: #2E3233;
  font-family: 'Roboto', sans-serif;
  -webkit-user-select: none;
}

h1 {
  padding: 60px 0;
  margin: 0;
  color: #515B5E;
}

h3 {
  margin: 45px 0 20px -40px;
  color: #515B5E;
  border-left: 40px solid #E2E3DF;
  padding-left: 5px;
  line-height: 25px;
}

a {
  color: #2E3233;
}

.c-header {
  background-color: #E2E3DF;
  height: 120px;
  padding: 0 40px;
}

.c-nav {
  display: block;
  position: absolute;
  top: 22px;
  font-size: 11px;
  letter-spacing: 1px;
}

.c-content {
  width: 787px;
  margin: 0;
  padding: 10px 40px;
}

.c-list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}

.c-list-unstyled li {
  line-height: 25px;
  font-size: 14px;
}

.c-list-unstyled a {
  text-decoration: none;
}

.c-list-unstyled a:hover {
  text-decoration: underline;
}

.c-param {
  display: inline-block;
  width: 100px;
  padding: 5px;
  margin: 1px;
  background-color: #E2E3DF;
  font-size: 12px;
  line-height: 16px;
  overflow: hidden;
  vertical-align: top;
}


/* code highlight */
pre .str, code .str { color: #FF9800; } /* string  - green */
pre .kwd, code .kwd { color: #268bd2; } /* keyword - dark pink */
pre .com, code .com { color: #AEAEAE; font-style: italic; } /* comment - gray */
pre .typ, code .typ { color: #89bdff; } /* type - light blue */
pre .lit, code .lit { color: #3387CC; } /* literal - blue */
pre .pun, code .pun { color: #fff; } /* punctuation - white */
pre .pln, code .pln { color: #93a1a1; } /* plaintext - white */
pre .tag, code .tag { color: #268bd2; } /* html/xml tag    - light blue */
pre .atn, code .atn { color: #b58900; } /* html/xml attribute name  - khaki */
pre .atv, code .atv { color: #859900; } /* html/xml attribute value - green */
pre .dec, code .dec { color: #3387CC; } /* decimal - blue */

pre.prettyprint, code.prettyprint {
  font-size: 1.1em;
  line-height: 1.4em;
  background-color: #073642;
  border-radius: 5px;
  border: none;
}

pre.prettyprint {
  margin: 8px;
  padding: 10px;
  white-space: pre-wrap;
}

@media print {
  pre .str, code .str { color: #060; }
  pre .kwd, code .kwd { color: #006; font-weight: bold; }
  pre .com, code .com { color: #600; font-style: italic; }
  pre .typ, code .typ { color: #404; font-weight: bold; }
  pre .lit, code .lit { color: #044; }
  pre .pun, code .pun { color: #440; }
  pre .pln, code .pln { color: #000; }
  pre .tag, code .tag { color: #006; font-weight: bold; }
  pre .atn, code .atn { color: #404; }
  pre .atv, code .atv { color: #060; }
}