@font-face {
  font-family: 'Droid Sans Mono';
  src: url('fonts/droid-sans-mono.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#d-showEditor {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 200;
    display: none;
}

#d-editor {
  width: 50%;
  min-width: 550px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  background: #333;
  border-left: 2px solid #ddd;
  /*box-shadow: -5px 0 10px #999;*/
}

#d-menu {
  padding: 6px;
  background-color: #7A7A7A;
  height: 30px;
  border-bottom: 1px solid #222;
  z-index: 9;
}

#d-menu button {
  margin: 2px 3px 0 3px;
}

#d-status {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 5px 0;
  overflow: hidden;
  background-color: #444;
  z-index: 9;
  border-top: 1px solid #5F5F5F;
}

#d-status button {
  margin: 0 5px 0 5px;
}

#s-status-text {
  font-size: 12px;
  color: #ccc;
}

#d-codemirror {
  z-index: 8;
  overflow: hidden;
}

#d-preview {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#f-fileInput {
  position: absolute;
  margin-left: -5px;
  top: 5px;
  width: 54px;
  text-align: right;
  opacity: 0;
  background-color: #fff;
  z-index: 2;
}

.CodeMirror {
  font-family: "Droid Sans Mono";
  font-size: 13px;
  line-height: 1.3em;    
}
.CodeMirror pre {
  padding: 0 8px;
}
.cm-s-monokai .CodeMirror-gutters {
  background: #504F4F;
  border-right: 1px solid #686868;
  width: 34px;
}
.cm-s-monokai .CodeMirror-linenumber {
  color: #8A8A8A;
  min-width: 24px;
}
.cm-s-monokai .errorLine {
  background-color: rgba(255,0,0,0.25);
}